
    <div class="col">
        <input #termino class="form-control" (keyup)="buscar(termino.value)" placeholder="Buscar cancion">
    </div>

    <div class="alert alert-info mt-3 text-center" role="alert" >
        <h2>No se ha realizado ninguna búsqueda</h2>
      </div>

      <div  class="card-columns mt-3 animate__animated animate__fadeIn">
        <div class="card puntero" *ngFor="let track of tracks">
          <button class="btn btn-success" (click)="addtoqueue(track.uri)">
          <img [src]="track.album.images[0].url" class="card-img-top" alt="...">
        </button>
          <div class="card-body">
            <h5 class="card-title">{{track.name}}</h5>
            <p class="card-text">
                <span class="badge badge-pill badge-primary">{{track.album.name}}</span>
            </p>
          </div>
        </div>
    </div> 